.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0 8px 0 0;
  width: 120px;
  transition: width 0.2s ease;
}

.input:focus {
  width: 136px;
  outline: 0;
}

.input::placeholder {
  color: #999999;
}

.input::-webkit-input-placeholder {
  color: #999999;
}

.input::-ms-input-placeholder {
  color: #999999;
}

.icon {
  opacity: 0.5;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.input:focus + .icon, .icon:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .root {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #333;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: white;
  }

  .input {
    font-size: 1rem;
  }

  .input,
  .input:focus {
    width: 100%;
  }
}
