.page {
  color: #ccc;
}

.hero {
  height: calc(100vh - 72px);
  width: 100vw;
  position: relative;
  text-align: center;
  max-width: 100%;
}

.hero .logo {
  margin-top: 48px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.hero .download {
  position: relative;
  bottom: 75px;
}

.hero .download > :global(*:first-child) {
  margin-bottom: 16px;
}

.hero .arrowWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.hero .arrow {
  color: white;
}

.hero .videoWrapper {
  height: 50vh;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  position: absolute;
}

.hero .video {
  height: 100%;
  width: 100%;
}

.hero > .videoSkeleton::before {
  content: 'Loading...';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  right: 0;
  color: #666;
  opacity: 0;
  animation-name: appear;
  animation-delay: 2s;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.hero .otherDownloads {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease all;
  border-bottom: 1px solid transparent;
}

.hero .otherDownloads:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-height: 650px) {
  .hero .videoWrapper {
    top: 48px;
    transform: translateY(0);
  }

  .hero .logo {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .hero .arrowWrapper {
    display: none;
  }
}