.notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root {
  padding-bottom: 64px;
  max-width: 764px;
  margin: 0 auto;
  text-align: center;
}
.header {
  text-align: left;
  max-width: 764px;
  margin: 40px auto;
}

.backButton {
    display: inline-flex;
    align-items: center;
    grid-area: submit;
    margin-left: auto;
    cursor: pointer;
    border-radius: 2px;
    background: black;
    color: white;
    font-size: 12px;
    border: 1px solid #333;
    padding: 0.1rem 1.3rem;
    transition: all 200ms ease;
}

.backButton:hover {
    border-color: #50e3c2;
    background: #50e3c2;
    color: black;
}

/* @media (max-width: 568px) { */
/*     .backButton { */
/*         display: none; */
/*     } */
/* } */
.name {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  margin-top: 40px;
}

.root > p {
  color: var(--gray);
  text-align: center;
  max-width: 400px;
  margin: 0 auto 32px;
  font-size: 12px;
  font-weight: normal;
}

.imageContainer {
  max-width: 100%;
  width: 600px;
  margin: 0 auto 40px;
}

.image {
  max-width: 100%;
  height: auto;
}
