.root a {
  color: var(--green);
}

.root a:hover {
  color: var(--bright-green);
}

.header {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 6rem 0;
}

.authors, .content {
  composes: container from global;
  max-width: 750px !important;
}

.authors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content {
  max-width: 750px !important;
  padding-bottom: 10rem;
}

.content > * {
  margin-bottom: 1rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: 3rem;
}

.content p,
.content li {
  line-height: 2;
}

.content ul {
  padding-left: 2.5rem;
}

.content img,
.content video {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 0;
}

.content .oversize {
  max-width: 150%;
  margin-left: calc(-1 * (750px / 4));
}

.content .caption {
  color: var(--gray);
  text-align: center;
  margin-bottom: 2rem;
}

.content code {
  color: #ff0080;
  font-family: var(--font-mono);
}

.content code::before,
.content code::after {
  content: '`';
}

@media (max-width: 650px) {
  .authors {
    flex-direction: column;
  }
  .authors > * + * {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .content .oversize {
    max-width: 100%;
    width: unset;
    margin-left: unset;
  }
}

.content .button {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 4rem;
}

.content .button a {
  color: var(--bg);
}
