.root {
    background: #fff;
    border-radius: 5px;
    color: #000;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    transition: background 0.12s ease-in-out;
    line-height: 1;
}

.root:hover {
    background: #e5e5e5;
    color: black;
}

.root svg {
    margin-right: 12px;
}