:root {
  --bg: #000;
  --fg: #fff;
  --pink: #f81ce5;
  --gray: #999;
  --font-sans: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  --font-mono: 'Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font: 16px/1.5 var(--font-sans);
}

a {
  color: #50e3c2;
  cursor: pointer;
  transition: color 0.2s ease;
  text-decoration: none;
}

a:hover {
  color: #3afacf;
}

::selection {
  background-color: var(--pink);
  color: var(--fg);
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
